@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

#root{
    width: 100%;
    height: 100vH;
}
*{
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
