/*<div className='relative flex flex-col justify-between h-[160px]'>*/
/*<div className='h-40 z-0 bg-amber-100 rounded-[15px]'></div>*/
/*<div className='z-40 top-[26%] bg-[#1C204B] p-[7%] md:p-[12%] left-0 right-0 absolute rounded-[15px] flex flex-col gap-6'>*/
/*<div className='w-full flex justify-between'>*/
/*<p className='font-normal text-[18px] leading-[100%] tracking-[1px] text-[#fff]'>Work</p>*/
/*<img src={etc} className='w-[21px] h-[5px]' />*/
/*</div>*/
/*<div className='flex items-center md:items-start md:flex-col justify-between gap-1'>*/
/*<h1 className='font-normal text-[56px] leading-[100%] text-[#ffff] '>32hrs</h1>*/
/*<span className='font-normal text-[15px] leading-[100%] tracking-[1px] text-[#BBC0FF]'>Last Week - 36hrs</span>*/
/*</div>*/
/*</div>*/
/*</div>*/